
#h1{
  font-size:35px;
  text-align:center;
  color:black;
  background-color:yellow;
}
#para1{
  font-size:40px;
  text-align:center;
  color:red;
}
    #para2{
        font-size:30px;
        text-align:left;
        color:rgb(3, 110, 14);
    }
    #para3{
        font-size:20px;
        text-align:left;
        color:#000000;
    }
    #para4{
        font-size:20px;
        text-align:left;
        color: black;
    }
    #para5{
        font-size:20px;
        text-align:left;
        color:black;
    }
    #para6{
        font-size:30px;
        text-align:left;
        color:#2f0ad3;
    }
     #para7{
        font-size:30px;
        text-align:center;
        color:#C100AA;
    }
    #para8{
        font-size:30px;
        text-align:left;
        color:#00FF00;
    }
    #para9{
        font-size:20px;
        text-align:right;
        color:#000000;
    }
     #para10{
        font-size:20px;
        text-align:right;
        color:#FF0000;
    }
    mark{
        background-color:yellow;
        color:black;
    }
    #m1{
        background-color:#FFDCDA;
        color: black;
    }
    #m2{
        background-color:#8FFF6D;
        color: black;
    }
    #m3{
         background-color:#C1FFFC;
        color: black;
    }
    #m4{
        background-color:#00FFFF;
        color:black;
    }
    #m5{
         background-color:yellow;
     }
    
    #p1{
        text-align:center;
    }
    #p2{
        font-size:20px;
        text-align:center;
    }
    #centre {
        float:right;
        width:65%;
        margin : 10px 20px 10px 30px;
        
       border-style:solid;
       border: 0;
    }
    #para33{
        font-size:20px;
        text-align:left;
        color:#000000;
        text-align:justify; 
    }


    

.collapsible {
  background-color: #A1FCDC;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
 }
 .active, .collapsible:hover {
    background-color: #FFFF5B;
 }
 .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:#E1E5FF;
 }
